# gitignore file

.gitignore
# ignore the "logs" folder which is autocreated as part of various scripts running. we dont'
# want these files saved anywhere.  Likewise for the build dir
logs/*
build/*
mm/Old/*
tools/Old/*
tools/oneworld-x-fldump.txt
upload/*

# 3rd party tools should be downloaded yourself.  See README file in 3party directory
3party/*/
